<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('数据存储列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                       <!--     <li>
                                <label>商品：</label>
                                <input type="text" name="commodityName"/>
                            </li>-->
                            <li>
                                <label>订单号：</label>
                                <input type="text" name="orderId"/>
                            </li>
                     <!--       <li>
                                <label>订单状态：</label>
                                <input type="text" name="orderStates"/>
                            </li>
                            <li>
                                <label>商家实收金额(元)：</label>
                                <input type="text" name="payMoney"/>
                            </li>-->
                          <!--  <li class="select-time">
                                <label>拼单成功时间：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSuccessTime]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSuccessTime]"/>
                            </li>
                            <li>
                                <label>商品规格：</label>
                                <input type="text" name="commoditySpec"/>
                            </li>
                            <li>
                                <label>商家备注：</label>
                                <input type="text" name="businessNotes"/>
                            </li>
                            <li>
                                <label>收货人：</label>
                                <input type="text" name="consignee"/>
                            </li>-->
                            <li>
                                <label>手机：</label>
                                <input type="text" name="phone"/>
                            </li>
                            <li>
                                <label>省：</label>
                                <input type="text" name="province"/>
                            </li>
                            <li>
                                <label>市：</label>
                                <input type="text" name="city"/>
                            </li>
                            <li>
                                <label>区：</label>
                                <input type="text" name="county"/>
                            </li>
                       <!--     <li>
                                <label>详细地址：</label>
                                <input type="text" name="address"/>
                            </li>-->
                            <li>
                                <label>身份证姓名：</label>
                                <input type="text" name="name"/>
                            </li>
                            <li>
                                <label>身份证号码：</label>
                                <input type="text" name="ip"/>
                            </li>
                         <!--   <li>
                                <label>是否直播间订单：</label>
                                <input type="text" name="roomId"/>
                            </li>-->
                           <!-- <li>
                                <label>vdef1：</label>
                                <input type="text" name="vdef1"/>
                            </li>
                            <li>
                                <label>vdef2：</label>
                                <input type="text" name="vdef2"/>
                            </li>
                            <li>
                                <label>vdef3：</label>
                                <input type="text" name="vdef3"/>
                            </li>
                            <li>
                                <label>vdef4：</label>
                                <input type="text" name="vdef4"/>
                            </li>
                            <li>
                                <label>vdef5：</label>
                                <input type="text" name="vdef5"/>
                            </li>-->
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
               <!-- <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="pddstorage:storage:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="pddstorage:storage:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="pddstorage:storage:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>-->
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="pddstorage:storage:export">
                    <i class="fa fa-download"></i> 导出
                </a>
                <a class="btn btn-info" onclick="$.table.importExcel()">
                    <i class="fa fa-upload"></i> 导入
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />

     <!-- 导入区域 -->
     <script id="importTpl" type="text/template">
         <form enctype="multipart/form-data" class="mt20 mb10">
             <div class="col-xs-offset-1">
                 <input type="file" id="file" name="file"/>
                 <div class="mt10 pt5">
                     <a onclick="$.table.importTemplate()" class="btn btn-default btn-xs"><i class="fa fa-file-excel-o"></i> 下载模板</a>
                 </div>
                 <font color="red" class="pull-left mt10">
                     提示：仅允许导入“xls”或“xlsx”格式文件！
                 </font>
             </div>
         </form>
     </script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('pddstorage:storage:edit')}]];
        var removeFlag = [[${@permission.hasPermi('pddstorage:storage:remove')}]];
        var prefix = ctx + "pddstorage/storage";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                importUrl: prefix + "/importData",
                importTemplateUrl:prefix + "/importTemplate",
                modalName: "数据存储",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id', 
                    title: 'id',
                    visible: false
                },
                {
                    field: 'commodityName', 
                    title: '商品'
                },
                {
                    field: 'orderId', 
                    title: '订单号'
                },
              /*  {
                    field: 'orderStates', 
                    title: '订单状态'
                },*/
                {
                    field: 'payMoney', 
                    title: '商家实收金额(元)'
                },
              /*  {
                    field: 'successTime', 
                    title: '拼单成功时间'
                },
                {
                    field: 'commoditySpec', 
                    title: '商品规格'
                },
                {
                    field: 'businessNotes', 
                    title: '商家备注'
                },*/
                {
                    field: 'consignee', 
                    title: '收货人'
                },
                {
                    field: 'phone', 
                    title: '手机'
                },
                {
                    field: 'province', 
                    title: '省'
                },
                {
                    field: 'city', 
                    title: '市'
                },
                {
                    field: 'county', 
                    title: '区'
                },
              /*  {
                    field: 'address', 
                    title: '详细地址'
                },*/
                {
                    field: 'name', 
                    title: '身份证姓名'
                },
                {
                    field: 'ip', 
                    title: '身份证号码'
                },
             /*   {
                    field: 'roomId', 
                    title: '是否直播间订单'
                },*/
              /*  {
                    field: 'vdef1', 
                    title: 'vdef1'
                },
                {
                    field: 'vdef2', 
                    title: 'vdef2'
                },
                {
                    field: 'vdef3', 
                    title: 'vdef3'
                },*/
                {
                    field: 'vdef4',
                    title: '年龄'
                },
             /*   {
                    field: 'vdef5', 
                    title: 'vdef5'
                },*/
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        //actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>