<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改评论')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-comment-edit" th:object="${shopComment}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品编号：</label>
                <div class="col-sm-8">
                    <input name="shopId" th:field="*{shopId}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">用户姓名：</label>
                <div class="col-sm-8">
                    <input name="username" th:field="*{username}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">评论内容：</label>
                <div class="col-sm-8">
                    <input name="comment" th:field="*{comment}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">评论条数：</label>
                <div class="col-sm-8">
                    <input name="commentnum" th:field="*{commentnum}" class="form-control" type="text">
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">商品宣传图片：</label>
                        <div class="col-xs-10">
                            <div class="layui-upload">
                                <button type="button" class="layui-btn layui-btn-normal" id="testList">选择多文件</button>
                                <div class="layui-upload-list">
                                    <table class="layui-table">
                                        <thead>
                                        <tr>
                                            <th>文件</th>
                                            <th>大小</th>
                                            <th>状态</th>
                                            <th>操作</th>
                                        </tr>
                                        </thead>
                                        <tbody id="demoList"></tbody>
                                    </table>
                                </div>
                                <button type="button" class="layui-btn" id="testListAction">开始上传</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <input id="pictureurl1" name="pictureurl1" th:field="*{pictureurl1}" class="form-control" type="hidden">
            <input id="pictureurl2" name="pictureurl2" th:field="*{pictureurl2}" class="form-control" type="hidden">

            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef1：</label>
                <div class="col-sm-8">
                    <input name="vdef1" th:field="*{vdef1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef2：</label>
                <div class="col-sm-8">
                    <input name="vdef2" th:field="*{vdef2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef3：</label>
                <div class="col-sm-8">
                    <input name="vdef3" th:field="*{vdef3}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "shopcomment/comment";
        $("#form-comment-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-comment-edit').serialize());
            }
        }
        // 商品封面--上传图片
        layui.use('upload', function () {
            var upload = layui.upload;

            //多文件列表示例
            var demoListView = $('#demoList')
                , uploadListIns = upload.render({
                elem: '#testList'
                , url: '/common/upload' //改成您自己的上传接口
                , accept: 'file'
                , multiple: true
                , auto: false
                , bindAction: '#testListAction'
                , choose: function (obj) {
                    var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
                    //读取本地文件
                    obj.preview(function (index, file, result) {
                        var tr = $(['<tr id="upload-' + index + '">'
                            , '<td>'+file.name+'</td>'
                            , '<td>' + (file.size / 1024).toFixed(1) + 'kb</td>'
                            , '<td>等待上传</td>'
                            , '<td>'
                            , '<button class="layui-btn layui-btn-xs demo-reload layui-hide">重传</button>'
                            , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete">删除</button>'
                            , '</td>'
                            , '</tr>'].join(''));

                        //单个重传
                        tr.find('.demo-reload').on('click', function () {
                            obj.upload(index, file);
                        });

                        //删除
                        tr.find('.demo-delete').on('click', function () {
                            delete files[index]; //删除对应的文件
                            tr.remove();
                            uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
                        });

                        demoListView.append(tr);
                    });
                }
                , done: function (res, index, upload) {
                    var _index = index.toString().substring(index.toString().length-1)
                    if (res.code == 0) { //上传成功
                        var tr = demoListView.find('tr#upload-' + index)
                            , tds = tr.children();
                        tds.eq(0).html('<img class="layui-upload-img" src="'+res.url+'" style="width: 30px;height: 30px;margin: 0;">');
                        tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                        tds.eq(3).html(''); //清空操作

                        _index = parseInt(_index) + 1;
                        $("#pictureurl"+ _index).val(res.url);

                        return delete this.files[index]; //删除文件队列已经上传成功的文件
                    }
                    this.error(index, upload);
                }
                , error: function (index, upload) {
                    var tr = demoListView.find('tr#upload-' + index)
                        , tds = tr.children();
                    tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                    tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
                }
            });
        });

        $(function() {
            for (var i = 1; i < 10; i++) {
                var data = $("#pictureurl"+i).val();
                if ($.common.isNotEmpty(data)){
                    var tr = $(['<tr id="upload-' + i + '">'
                        , '<td><img class="layui-upload-img" src="'+data+'" style="width: 30px;height: 30px;margin: 0;"></td>'
                        , '<td>不到20M</td>'
                        , '<td><span style="color: #5FB878;">已上传</span></td>'
                        , '<td>'
                        , '<button class="layui-btn layui-btn-xs layui-btn-danger demo-delete2">删除</button>'
                        , '<input class="layui-hide attId" value="' + data + '," type="text">'
                        , '</td>'
                        , '</tr>'].join(''));
                    $('#demoList').append(tr);
                }
            }
            // 已有文件删除
            $('.demo-delete2').on('click', function () {
                var parentId = $(this).parents("tr").attr("id");
                var _index = parentId.substring(parentId.length-1);
                $("#pictureurl"+_index).val("");
                $(this).parents("tr").remove();
            });
        })
    </script>
</body>
</html>