<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增黑名单地区及年龄筛选')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-pddlimitprv-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">编号：</label>
                <div class="col-sm-8">
                    <input name="skuName" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最小年龄：</label>
                <div class="col-sm-8">
                    <input name="minAge" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">最大年龄：</label>
                <div class="col-sm-8">
                    <input name="maxAge" class="form-control" type="text">
                </div>
            </div>

          <div class="form-group">
                <label class="col-sm-3 control-label is-required">省：</label>
                <div class="col-sm-8">
                    <input name="prv" class="form-control" type="text" required>
                </div>
            </div>

           <!-- <div class="form-group">
                &lt;!&ndash; <label class="col-sm-3 control-label">省份编码：</label> &ndash;&gt;
                <label class="col-sm-3 control-label">省份：</label>
                <div class="col-sm-8">
                    <select id="province" class="form-control m-b" name="belongAreaCode">
                        <option value="0">&#45;&#45;请选择省份&#45;&#45;</option>
                    </select>
                </div>
            </div>
            <div class="form-group" hidden>
                <label class="col-sm-3 control-label">省份名称：</label>
                <div class="col-sm-8">
                    <input name="prv" id="prv" class="form-control" type="text">
                </div>-->



     <div class="form-group">
                <label class="col-sm-3 control-label">市：</label>
                <div class="col-sm-8">
                    <input name="city" class="form-control" type="text">
                </div>
            </div>

            <!--    <div class="form-group">
                    &lt;!&ndash; <label class="col-sm-3 control-label">城市编码：</label> &ndash;&gt;
                    <label class="col-sm-3 control-label">城市名称：</label>
                    <div class="col-sm-8">
                        <select  id="city" class="form-control m-b" name="ivtStr1">
                            <option value="0">&#45;&#45;请选择市区&#45;&#45;</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label class="col-sm-3 control-label">城市名称：</label>
                    <div class="col-sm-8">
                        <input name="city" id="city" class="form-control" type="text">
                    </div>
                </div>-->

          <div class="form-group">
                <label class="col-sm-3 control-label">区：</label>
                <div class="col-sm-8">
                    <input name="county" class="form-control" type="text">
                </div>
            </div>-
             <!--   <div class="form-group">
                    &lt;!&ndash; <label class="col-sm-3 control-label">区县编码：</label> &ndash;&gt;
                    <label class="col-sm-3 control-label">区县名称：</label>
                    <div class="col-sm-8">
                        <select id="area" class="form-control m-b" name="ivtStr3">
                            <option value="0">&#45;&#45;请选择县城&#45;&#45;</option>
                        </select>
                    </div>
                </div>
                <div class="form-group" hidden>
                    <label class="col-sm-3 control-label">区县名称：</label>
                    <div class="col-sm-8">
                        <input name="county" id="county" class="form-control" type="text">
                    </div>
                </div>-->

            <div class="form-group">    
                <label class="col-sm-3 control-label">添加人：</label>
                <div class="col-sm-8">
                    <input name="userName" class="form-control" type="text">
                </div>
            </div>
         <!--   <div class="form-group">
                <label class="col-sm-3 control-label">vdef1：</label>
                <div class="col-sm-8">
                    <input name="vdef1" class="form-control" type="text">
                </div>
            </div>-->
          <!--  <div class="form-group">
                <label class="col-sm-3 control-label">vdef2：</label>
                <div class="col-sm-8">
                    <input name="vdef2" class="form-control" type="text">
                </div>
            </div>-->
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "pddlimitprv/pddlimitprv"
        $("#form-pddlimitprv-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-pddlimitprv-add').serialize());
            }
        }

      /*  var start_provinceId = "";
        var start_cityId = "";
        var start_countyId = "";
        //页面一加载调取后台查询全部省份的方法
        $.ajax({
            url:ctx + "area/area/selectSuitedAdrress",
            type:"post",
            dataType:"json",
            data:{
                "provinceId": start_provinceId,
                "cityId": start_cityId,
                "countyId": start_countyId
            },
            success:function(data){
                $(data.provinceNameList).each(function(a,b){
                    $("#province").append("<option value='"+b.provinceId+"'>"+b.prv+"</option>");
                });
            },
            error:function(){

            }
        });
        //选择省份，保存省份编码和对应名称，以及联动市级下拉框数据
        $("#province").change(function(){
            var p_provinceId = "";
            var p_cityId = "";
            var p_countyId = "";
            $("#city").empty();
            $("#area").empty();
            var a = $("#province option:selected").text();
            $("#belongAreaName").val(a);
            var p_provinceId = $("#province").val();
            $("#city").append("<option value='0'>--请选择市区--</option>");
            $("#area").append("<option value='0'>--请选择县城--</option>");
            $.ajax({
                url:ctx + "area/area/selectSuitedAdrress",
                type:"post",
                dataType:"json",
                data:{
                    "provinceId": p_provinceId,
                    "cityId": p_cityId,
                    "countyId": p_countyId
                },
                success:function(data){
                    $(data).each(function(a,b){
                        $("#city").append("<option value='"+b.cityId+"'>"+b.city+"</option>");
                    });
                },
                error:function(){
                }
            });
        });
        //选择城市，保存城市编码和对应名称，以及联动县级下拉框数据
        $("#city").change(function(){
            var c_provinceId = "";
            var c_cityId = "";
            var c_countyId = "";
            $("#area").empty();
            var c_cityId = $("#city").val();
            var a = $("#city option:selected").text();
            $("#ivtStr2").val(a);
            $("#area").append("<option value='0'>--请选择县城--</option>");
            $.ajax({
                url:ctx + "area/area/selectSuitedAdrress",
                type:"post",
                dataType:"json",
                data:{
                    "provinceId": c_provinceId,
                    "cityId": c_cityId,
                    "countyId": c_countyId
                },
                success:function(data){
                    $(data).each(function(a,b){
                        $("#area").append("<option value='"+b.countyId+"'>"+b.county+"</option>");
                    });
                },
                error:function(){
                }
            });
        });
        //选择区县，保存区县编码和对应名称
        $("#area").change(function(){
            $("#town").empty();
            var a = $("#area option:selected").text();
            $("#ivtStr4").val(a);
        });
*/
    </script>
</body>
</html>