<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改wbqshop')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-shop-edit" th:object="${shop}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品名称：</label>
                <div class="col-sm-8">
                    <input name="name" th:field="*{name}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">价格：</label>
                <div class="col-sm-8">
                    <input name="price" th:field="*{price}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">折扣价：</label>
                <div class="col-sm-8">
                    <input name="priceother" th:field="*{priceother}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">运费：</label>
                <div class="col-sm-8">
                    <input name="frieight" th:field="*{frieight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">评分：</label>
                <div class="col-sm-8">
                    <input name="comments" th:field="*{comments}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">已售：</label>
                <div class="col-sm-8">
                    <input name="sold" th:field="*{sold}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品主图：</label>
                <div class="col-sm-8">
                    <input name="maingraph" th:field="*{maingraph}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">访问量：</label>
                <div class="col-sm-8">
                    <input name="visits" th:field="*{visits}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品详情：</label>
                <div class="col-sm-8">
                    <input name="commodityDetails" th:field="*{commodityDetails}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">活动剩余时间：</label>
                <div class="col-sm-8">
                    <input name="remainingTime" th:field="*{remainingTime}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品副图1：</label>
                <div class="col-sm-8">
                    <input name="pictureone" th:field="*{pictureone}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品副图2：</label>
                <div class="col-sm-8">
                    <input name="picturetwo" th:field="*{picturetwo}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label is-required">商品副图3：</label>
                <div class="col-sm-8">
                    <input name="picturethree" th:field="*{picturethree}" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品副图4：</label>
                <div class="col-sm-8">
                    <input name="picturefour" th:field="*{picturefour}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品副图5：</label>
                <div class="col-sm-8">
                    <input name="picturefive" th:field="*{picturefive}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">商品副图6：</label>
                <div class="col-sm-8">
                    <input name="picturesix" th:field="*{picturesix}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef1：</label>
                <div class="col-sm-8">
                    <input name="vdef1" th:field="*{vdef1}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef2：</label>
                <div class="col-sm-8">
                    <input name="vdef2" th:field="*{vdef2}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef3：</label>
                <div class="col-sm-8">
                    <input name="vdef3" th:field="*{vdef3}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef4：</label>
                <div class="col-sm-8">
                    <input name="vdef4" th:field="*{vdef4}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef5：</label>
                <div class="col-sm-8">
                    <input name="vdef5" th:field="*{vdef5}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">vdef6：</label>
                <div class="col-sm-8">
                    <input name="vdef6" th:field="*{vdef6}" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "wbqshop/shop";
        $("#form-shop-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-shop-edit').serialize());
            }
        }
    </script>
</body>
</html>