<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.pddlimitprv.mapper.PddLimitPrvMapper">
    
    <resultMap type="PddLimitPrv" id="PddLimitPrvResult">
        <result property="id"    column="id"    />
        <result property="skuName"    column="sku_name"    />
        <result property="minAge"    column="min_age"    />
        <result property="maxAge"    column="max_age"    />
        <result property="prv"    column="prv"    />
        <result property="city"    column="city"    />
        <result property="county"    column="county"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="userName"    column="user_name"    />
        <result property="vdef1"    column="vdef1"    />
        <result property="vdef2"    column="vdef2"    />
    </resultMap>

    <sql id="selectPddLimitPrvVo">
        select id, sku_name, min_age, max_age, prv, city, county, create_time, update_time, user_name, vdef1, vdef2 from pdd_limit_prv
    </sql>

    <select id="selectPddLimitPrvList" parameterType="PddLimitPrv" resultMap="PddLimitPrvResult">
        <include refid="selectPddLimitPrvVo"/>
        <where>  
            <if test="skuName != null  and skuName != ''"> and sku_name like concat('%', #{skuName}, '%')</if>
            <if test="minAge != null "> and min_age = #{minAge}</if>
            <if test="maxAge != null "> and max_age = #{maxAge}</if>
            <if test="prv != null  and prv != ''"> and prv = #{prv}</if>
            <if test="city != null  and city != ''"> and city = #{city}</if>
            <if test="county != null  and county != ''"> and county = #{county}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="vdef1 != null  and vdef1 != ''"> and vdef1 = #{vdef1}</if>
            <if test="vdef2 != null  and vdef2 != ''"> and vdef2 = #{vdef2}</if>
        </where>
    </select>
    
    <select id="selectPddLimitPrvById" parameterType="Long" resultMap="PddLimitPrvResult">
        <include refid="selectPddLimitPrvVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPddLimitPrv" parameterType="PddLimitPrv" useGeneratedKeys="true" keyProperty="id">
        insert into pdd_limit_prv
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="skuName != null  and skuName != ''">sku_name,</if>
            <if test="minAge != null ">min_age,</if>
            <if test="maxAge != null ">max_age,</if>
            <if test="prv != null  and prv != ''">prv,</if>
            <if test="city != null  and city != ''">city,</if>
            <if test="county != null  and county != ''">county,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="userName != null  and userName != ''">user_name,</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1,</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="skuName != null  and skuName != ''">#{skuName},</if>
            <if test="minAge != null ">#{minAge},</if>
            <if test="maxAge != null ">#{maxAge},</if>
            <if test="prv != null  and prv != ''">#{prv},</if>
            <if test="city != null  and city != ''">#{city},</if>
            <if test="county != null  and county != ''">#{county},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="userName != null  and userName != ''">#{userName},</if>
            <if test="vdef1 != null  and vdef1 != ''">#{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">#{vdef2},</if>
         </trim>
    </insert>

    <update id="updatePddLimitPrv" parameterType="PddLimitPrv">
        update pdd_limit_prv
        <trim prefix="SET" suffixOverrides=",">
            <if test="skuName != null  and skuName != ''">sku_name = #{skuName},</if>
            <if test="minAge != null ">min_age = #{minAge},</if>
            <if test="maxAge != null ">max_age = #{maxAge},</if>
            <if test="prv != null  and prv != ''">prv = #{prv},</if>
            <if test="city != null  and city != ''">city = #{city},</if>
            <if test="county != null  and county != ''">county = #{county},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="userName != null  and userName != ''">user_name = #{userName},</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1 = #{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2 = #{vdef2},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deletePddLimitPrvById" parameterType="Long">
        delete from pdd_limit_prv where id = #{id}
    </delete>

    <delete id="deletePddLimitPrvByIds" parameterType="String">
        delete from pdd_limit_prv where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>