<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.wbqshop.mapper.ShopMapper">
    
    <resultMap type="Shop" id="ShopResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="price"    column="price"    />
        <result property="priceother"    column="priceother"    />
        <result property="frieight"    column="frieight"    />
        <result property="comments"    column="comments"    />
        <result property="sold"    column="sold"    />
        <result property="maingraph"    column="maingraph"    />
        <result property="visits"    column="visits"    />
        <result property="commodityDetails"    column="commodity_details"    />
        <result property="remainingTime"    column="remaining_time"    />
        <result property="createTime"    column="create_time"    />
        <result property="picture1"    column="picture1"    />
        <result property="picture2"    column="picture2"    />
        <result property="picture3"    column="picture3"    />
        <result property="picture4"    column="picture4"    />
        <result property="picture5"    column="picture5"    />
        <result property="picture6"    column="picture6"    />
        <result property="vdef1"    column="vdef1"    />
        <result property="vdef2"    column="vdef2"    />
        <result property="vdef3"    column="vdef3"    />
        <result property="vdef4"    column="vdef4"    />
        <result property="vdef5"    column="vdef5"    />
        <result property="vdef6"    column="vdef6"    />
    </resultMap>

    <sql id="selectShopVo">
        select id, name, price, priceother, frieight, comments, sold, maingraph, visits, commodity_details, remaining_time, create_time, picture1, picture2, picture3, picture4, picture5, picture6, vdef1, vdef2, vdef3, vdef4, vdef5, vdef6 from shop
    </sql>

    <select id="selectShopList" parameterType="Shop" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="priceother != null "> and priceother = #{priceother}</if>
            <if test="frieight != null "> and frieight = #{frieight}</if>
            <if test="comments != null  and comments != ''"> and comments = #{comments}</if>
            <if test="sold != null "> and sold = #{sold}</if>
            <if test="maingraph != null  and maingraph != ''"> and maingraph = #{maingraph}</if>
            <if test="visits != null "> and visits = #{visits}</if>
            <if test="commodityDetails != null  and commodityDetails != ''"> and commodity_details = #{commodityDetails}</if>
            <if test="remainingTime != null "> and remaining_time = #{remainingTime}</if>
            <if test="picture1 != null  and picture1 != ''"> and picture1 = #{picture1}</if>
            <if test="picture2 != null  and picture2 != ''"> and picture2 = #{picture2}</if>
            <if test="picture3 != null  and picture3 != ''"> and picture3 = #{picture3}</if>
            <if test="picture4 != null  and picture4 != ''"> and picture4 = #{picture4}</if>
            <if test="picture5 != null  and picture5 != ''"> and picture5 = #{picture5}</if>
            <if test="picture6 != null  and picture6 != ''"> and picture6 = #{picture6}</if>
            <if test="vdef1 != null  and vdef1 != ''"> and vdef1 = #{vdef1}</if>
            <if test="vdef2 != null  and vdef2 != ''"> and vdef2 = #{vdef2}</if>
            <if test="vdef3 != null  and vdef3 != ''"> and vdef3 = #{vdef3}</if>
            <if test="vdef4 != null  and vdef4 != ''"> and vdef4 = #{vdef4}</if>
            <if test="vdef5 != null  and vdef5 != ''"> and vdef5 = #{vdef5}</if>
            <if test="vdef6 != null  and vdef6 != ''"> and vdef6 = #{vdef6}</if>
        </where>
    </select>
    
    <select id="selectShopById" parameterType="Long" resultMap="ShopResult">
        <include refid="selectShopVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertShop" parameterType="Shop" useGeneratedKeys="true" keyProperty="id">
        insert into shop
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="price != null ">price,</if>
            <if test="priceother != null ">priceother,</if>
            <if test="frieight != null ">frieight,</if>
            <if test="comments != null  and comments != ''">comments,</if>
            <if test="sold != null ">sold,</if>
            <if test="maingraph != null  and maingraph != ''">maingraph,</if>
            <if test="visits != null ">visits,</if>
            <if test="commodityDetails != null  and commodityDetails != ''">commodity_details,</if>
            <if test="remainingTime != null ">remaining_time,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="picture1 != null  and picture1 != ''">picture1,</if>
            <if test="picture2 != null  and picture2 != ''">picture2,</if>
            <if test="picture3 != null  and picture3 != ''">picture3,</if>
            <if test="picture4 != null  and picture4 != ''">picture4,</if>
            <if test="picture5 != null  and picture5 != ''">picture5,</if>
            <if test="picture6 != null  and picture6 != ''">picture6,</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1,</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2,</if>
            <if test="vdef3 != null  and vdef3 != ''">vdef3,</if>
            <if test="vdef4 != null  and vdef4 != ''">vdef4,</if>
            <if test="vdef5 != null  and vdef5 != ''">vdef5,</if>
            <if test="vdef6 != null  and vdef6 != ''">vdef6,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="price != null ">#{price},</if>
            <if test="priceother != null ">#{priceother},</if>
            <if test="frieight != null ">#{frieight},</if>
            <if test="comments != null  and comments != ''">#{comments},</if>
            <if test="sold != null ">#{sold},</if>
            <if test="maingraph != null  and maingraph != ''">#{maingraph},</if>
            <if test="visits != null ">#{visits},</if>
            <if test="commodityDetails != null  and commodityDetails != ''">#{commodityDetails},</if>
            <if test="remainingTime != null ">#{remainingTime},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="picture1 != null  and picture1 != ''">#{picture1},</if>
            <if test="picture2 != null  and picture2 != ''">#{picture2},</if>
            <if test="picture3 != null  and picture3 != ''">#{picture3},</if>
            <if test="picture4 != null  and picture4 != ''">#{picture4},</if>
            <if test="picture5 != null  and picture5 != ''">#{picture5},</if>
            <if test="picture6 != null  and picture6 != ''">#{picture6},</if>
            <if test="vdef1 != null  and vdef1 != ''">#{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">#{vdef2},</if>
            <if test="vdef3 != null  and vdef3 != ''">#{vdef3},</if>
            <if test="vdef4 != null  and vdef4 != ''">#{vdef4},</if>
            <if test="vdef5 != null  and vdef5 != ''">#{vdef5},</if>
            <if test="vdef6 != null  and vdef6 != ''">#{vdef6},</if>
         </trim>
    </insert>

    <update id="updateShop" parameterType="Shop">
        update shop
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="priceother != null ">priceother = #{priceother},</if>
            <if test="frieight != null ">frieight = #{frieight},</if>
            <if test="comments != null  and comments != ''">comments = #{comments},</if>
            <if test="sold != null ">sold = #{sold},</if>
            <if test="maingraph != null  and maingraph != ''">maingraph = #{maingraph},</if>
            <if test="visits != null ">visits = #{visits},</if>
            <if test="commodityDetails != null  and commodityDetails != ''">commodity_details = #{commodityDetails},</if>
            <if test="remainingTime != null ">remaining_time = #{remainingTime},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="picture1 != null  and picture1 != ''">picture1 = #{picture1},</if>
            <if test="picture2 != null  and picture2 != ''">picture2 = #{picture2},</if>
            <if test="picture3 != null  and picture3 != ''">picture3 = #{picture3},</if>
            <if test="picture4 != null  and picture4 != ''">picture4 = #{picture4},</if>
            <if test="picture5 != null  and picture5 != ''">picture5 = #{picture5},</if>
            <if test="picture6 != null  and picture6 != ''">picture6 = #{picture6},</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1 = #{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2 = #{vdef2},</if>
            <if test="vdef3 != null  and vdef3 != ''">vdef3 = #{vdef3},</if>
            <if test="vdef4 != null  and vdef4 != ''">vdef4 = #{vdef4},</if>
            <if test="vdef5 != null  and vdef5 != ''">vdef5 = #{vdef5},</if>
            <if test="vdef6 != null  and vdef6 != ''">vdef6 = #{vdef6},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteShopById" parameterType="Long">
        delete from shop where id = #{id}
    </delete>

    <delete id="deleteShopByIds" parameterType="String">
        delete from shop where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>