<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zsy.huiyuan.mapper.HuiyuanOrderMapper">
    
    <resultMap type="HuiyuanOrder" id="HuiyuanOrderResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="phonenum"    column="phoneNum"    />
        <result property="createTime"    column="create_time"    />
        <result property="vdef1"    column="vdef1"    />
        <result property="vdef2"    column="vdef2"    />
        <result property="vdef3"    column="vdef3"    />
        <result property="banliTime"    column="banli_time"    />
    </resultMap>

    <sql id="selectHuiyuanOrderVo">
        select id, name, phoneNum, create_time, vdef1, vdef2, vdef3, banli_time from huiyuan_order
    </sql>

    <select id="selectHuiyuanOrderList" parameterType="HuiyuanOrder" resultMap="HuiyuanOrderResult">
        <include refid="selectHuiyuanOrderVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="phonenum != null  and phonenum != ''"> and phoneNum = #{phonenum}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="vdef1 != null  and vdef1 != ''"> and vdef1 = #{vdef1}</if>
            <if test="vdef2 != null  and vdef2 != ''"> and vdef2 = #{vdef2}</if>
            <if test="vdef3 != null  and vdef3 != ''"> and vdef3 = #{vdef3}</if>
            <if test="banliTime != null "> and banli_time = #{banliTime}</if>
        </where>
    </select>
    
    <select id="selectHuiyuanOrderById" parameterType="Long" resultMap="HuiyuanOrderResult">
        <include refid="selectHuiyuanOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertHuiyuanOrder" parameterType="HuiyuanOrder" useGeneratedKeys="true" keyProperty="id">
        insert into huiyuan_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="phonenum != null  and phonenum != ''">phoneNum,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1,</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2,</if>
            <if test="vdef3 != null  and vdef3 != ''">vdef3,</if>
            <if test="banliTime != null ">banli_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="phonenum != null  and phonenum != ''">#{phonenum},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="vdef1 != null  and vdef1 != ''">#{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">#{vdef2},</if>
            <if test="vdef3 != null  and vdef3 != ''">#{vdef3},</if>
            <if test="banliTime != null ">#{banliTime},</if>
         </trim>
    </insert>

    <update id="updateHuiyuanOrder" parameterType="HuiyuanOrder">
        update huiyuan_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="phonenum != null  and phonenum != ''">phoneNum = #{phonenum},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="vdef1 != null  and vdef1 != ''">vdef1 = #{vdef1},</if>
            <if test="vdef2 != null  and vdef2 != ''">vdef2 = #{vdef2},</if>
            <if test="vdef3 != null  and vdef3 != ''">vdef3 = #{vdef3},</if>
            <if test="banliTime != null ">banli_time = #{banliTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHuiyuanOrderById" parameterType="Long">
        delete from huiyuan_order where id = #{id}
    </delete>

    <delete id="deleteHuiyuanOrderByIds" parameterType="String">
        delete from huiyuan_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>