<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('商品详细')" />
</head>
<body class="white-bg">
	<div class="wrapper wrapper-content animated fadeInRight ibox-content">
	<form class="form-horizontal m-t" id="signupForm" th:object="${product}">
		<div class="form-group">
			<label class="col-sm-2 control-label">商品SKU：</label>
			<div class="form-control-static" th:text="${product.itemSku}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">UPC编号：</label>
			<div class="form-control-static" th:text="${product.externalProductIdType}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">商品名称：</label>
			<div class="form-control-static" th:text="${product.itemName}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">关键字：</label>
			<div class="form-control-static" th:text="${product.genericKeywords1}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">产品描述：</label>
			<div class="form-control-static" th:text="${product.productDescription}">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">商品主图：</label>
			<div class="form-control-static">
				<img class="layui-upload-img" th:src="${product.mainImageUrl}" style="width: 100px;height: 100px;margin: 0;">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">商品宣传图片：</label>
			<div class="form-control-static">
				<table class="layui-table">
					<thead >
					<tr id="demoList">
					</tr>
					</thead>
				</table>

			</div>
		</div>
		<input id="otherImageUrl1" name="otherImageUrl1" th:field="*{otherImageUrl1}" class="form-control" type="hidden">
		<input id="otherImageUrl2" name="otherImageUrl2" th:field="*{otherImageUrl2}" class="form-control" type="hidden">
		<input id="otherImageUrl3" name="otherImageUrl3" th:field="*{otherImageUrl3}" class="form-control" type="hidden">
		<input id="otherImageUrl4" name="otherImageUrl4" th:field="*{otherImageUrl4}" class="form-control" type="hidden">
		<input id="otherImageUrl5" name="otherImageUrl5" th:field="*{otherImageUrl5}" class="form-control" type="hidden">
		<input id="otherImageUrl6" name="otherImageUrl6" th:field="*{otherImageUrl6}" class="form-control" type="hidden">
		<input id="otherImageUrl7" name="otherImageUrl7" th:field="*{otherImageUrl7}" class="form-control" type="hidden">
		<input id="otherImageUrl8" name="otherImageUrl8" th:field="*{otherImageUrl8}" class="form-control" type="hidden">
	</form>
    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">

		$(function() {
			for (var i = 1; i < 10; i++) {
				var data = $("#otherImageUrl"+i).val();
				if ($.common.isNotEmpty(data)){
					var tr = $([
						 '<th><img class="layui-upload-img" src="'+data+'" style="width: 100px;height: 100px;margin: 0;"></th>'
						].join(''));
					$('#demoList').append(tr);
				}
			}
		})

    </script>
</body>
</html>